![openclassrooms](https://s3.eu-west-1.amazonaws.com/course.oc-static.com/courses/6204541/1+HnqdJ-5ofxiPP9HIxdNdpw.jpeg)

# Filtrez les données du dataframe

Nous allons à présent aller un peu plus loin dans la manipulation de nos prêts bancaires. Les demandes suivantes ont été formulées par le responsable du service prêt de notre établissement :
- Le taux d’endettement autorisé est de 35%. Pourriez vous me communiquer le nombre de personnes ayant dépassé ce seuil ?
- Même question, mais cette fois ci uniquement sur l’agence Parisienne
- Pour faciliter le traitement d’éventuelles futures demandes de prêts, pourriez vous ajouter une variable nommée `risque` qui nous permettrait d’identifier les clients risqués facilement
- Combien de prêts automobiles ont été accordés ? Quel est le coût total moyen de ces derniers ?
- Quel est le bénéfice mensuel total réalisé par l’agence Toulousaine ?

Vous allez devoir mettre en application l’ensemble des processus de sélection présentés ci-dessus pour répondre à ces différentes demandes.

In [22]:
import numpy as np
import pandas as pd

In [23]:
# traitement réalisés précédemment
prets = pd.read_csv("https://raw.githubusercontent.com/OpenClassrooms-Student-Center/fr-4452741-decouvrez-les-librairies-python-pour-la-data-science/main/data/prets.csv")

# calcul du taux d'endettement
prets['taux_endettement'] = round(prets['remboursement'] * 100 / prets['revenu'], 2)

# renommer taux en taux_interet
prets.rename(columns={'taux':'taux_interet'}, inplace=True)

# calculer le cout total du pret
prets['cout_total'] = prets['remboursement'] * prets['duree']

# calculer les bénéfices mensuels réalisés
prets['benefices'] = round((prets['cout_total'] * prets['taux_interet']/100)/(24), 2)

prets.head()

,identifiant,ville,CP,revenu,remboursement,duree,type,taux_interet,taux_endettement,cout_total,benefices
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168,30.80,271212.0,131.99
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701,4.52,15360.0,23.69
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173,23.50,374355.0,182.97
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972,29.50,132609.6,53.71
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014,34.80,105485.4,44.57

Le taux d’endettement autorisé est de 35%. Pourriez vous me communiquer le nombre de personnes ayant dépassé ce seuil ? vous pourrez me stocker la liste dans une variable à part nommé `clients_risque`

In [24]:
clients_risque = prets.loc[(prets['taux_endettement'] > 35)].shape

print("Le nombre de personne ayant dépassé la seuil sont ",clients_risque[0])

Le nombre de personne ayant dépassé la seuil sont  58

Même question, mais cette fois ci uniquement sur l’agence Parisienne

In [33]:
clients_risque_paris = prets.loc[(prets['taux_endettement'] > 35) & (prets['ville'] == 'PARIS')].shape
clients_risque_paris[0]
print("Le nombre de personne à Paris ayant dépassé la seuil sont ",clients_risque_paris[0])

Le nombre de personne à Paris ayant dépassé la seuil sont  16

Pour faciliter le traitement d’éventuelles futures demandes de prêts, pourriez vous ajouter une variable nommée `risque` qui aurait pour valeur `Oui` si le client est risqué (taux d’endettement > 35%), `Non` sinon.
Pour se faire, je vous conseille de créer la variable `risque` en l'initialisant à `Non` (ou `Oui`, à votre préférence) et de ne modifier que les lignes concernées par la valeur inverse :

In [26]:
# ajouter une colonne risque
prets['risque'] = False
prets.loc[prets['taux_endettement'] > 35, 'risque'] = True
prets

,identifiant,ville,CP,revenu,remboursement,duree,type,taux_interet,taux_endettement,cout_total,benefices,risque
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168,30.80,271212.0,131.99,False
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701,4.52,15360.0,23.69,False
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173,23.50,374355.0,182.97,False
3,2,MARSEILLE,13010,1873.0,552.54,240,immobilier,0.972,29.50,132609.6,53.71,False
4,3,MARSEILLE,13010,1684.0,586.03,180,immobilier,1.014,34.80,105485.4,44.57,False
...,...,...,...,...,...,...,...,...,...,...,...,...
239,224,PARIS,75008,5118.0,1248.79,300,immobilier,1.206,24.40,374637.0,188.26,False
240,224,PARIS,75008,5118.0,238.20,25,automobile,3.423,4.65,5955.0,8.49,False
241,225,BORDEAUX,33100,2356.0,876.43,180,immobilier,1.172,37.20,157757.4,77.04,True
242,226,PARIS,75002,5098.0,2910.96,240,immobilier,1.140,57.10,698630.4,331.85,True
243,227,PARIS,75015,2348.0,434.38,300,immobilier,1.157,18.50,130314.0,62.82,False

Combien de prêts automobiles ont été accordés ? Quel est le coût total moyen de ces derniers ?

In [27]:
prets_automobile = prets.loc[prets['type']=='automobile']
print ("Le nombre de prêt automobile sont ",prets_automobile.shape[0])

moyenne_cout_total = prets_automobile['cout_total'].mean()
print("Le coût total moyen des prêts automobiles est de ",round(moyenne_cout_total,2))

Le nombre de prêt automobile sont  16
Le coût total moyen des prêts automobiles est de  13665.0

Quel est le bénéfice mensuel total réalisé par l’agence Toulousaine ?

In [32]:
benefice_mensuel_total = prets.loc[prets['ville'] == 'TOULOUSE', 'benefices'].sum()
print("Le bénéfice mensuel total réalisé sur les prêts à Toulouse est de ",round(benefice_mensuel_total,2))

Le bénéfice mensuel total réalisé sur les prêts à Toulouse est de  2138.07

Félicitation ! Je vous invite fortement à vérifier vos réponses avec [la correction ci contre](https://colab.research.google.com/github/OpenClassrooms-Student-Center/fr-4452741-decouvrez-les-librairies-python-pour-la-data-science/blob/main/notebooks/P2/P2C3%20-%20Filtrez%20les%20donn%C3%A9es%20du%20data%20frame%20-%20correction.ipynb).

In [34]:
prets.groupby('ville').sum()

,identifiant,CP,revenu,remboursement,duree,type,taux_interet,taux_endettement,cout_total,benefices,risque
ville,,,,,,,,,,,
BORDEAUX,1718,531800,50816.0,15330.59,3660,immobilierimmobilierimmobilierimmobilierimmobi...,18.767,496.90,3441385.2,1681.32,5
LYON,2833,1932134,95354.0,26064.67,6251,immobilierimmobilierimmobilierimmobilierimmobi...,38.918,791.78,6199332.2,3014.80,10
MARSEILLE,7946,975732,145926.0,40895.72,16420,immobilierimmobilierimmobilierimmobilierimmobi...,92.538,2123.32,9109388.4,4395.91,19
NICE,2375,129100,85288.0,23544.24,4460,immobilierimmobilierimmobilierimmobilierimmobi...,27.706,572.33,5559354.6,2682.75,4
PARIS,9849,5776019,335459.0,94052.61,16686,automobileimmobilierimmobilierimmobilierimmobi...,100.073,2114.75,20813944.4,10016.35,16
TOULOUSE,3162,843300,75617.0,19286.18,5643,immobilierimmobilierimmobilierimmobilierimmobi...,38.217,697.53,4256987.0,2138.07,4

In [35]:
prets.groupby(['ville', 'type']).sum()

                      identifiant       CP    revenu  remboursement  duree  \
ville     type
BORDEAUX  immobilier         1718   531800   50816.0       15330.59   3660
LYON      automobile          360   207018   11531.0         788.80    131
          immobilier         2473  1725116   83823.0       25275.87   6120
MARSEILLE automobile          404    39031    5842.0         839.60    160
          immobilier         7542   936701  140084.0       40056.12  16260
NICE      automobile          187    12300    7607.0         612.80     80
          immobilier         2188   116800   77681.0       22931.44   4380
PARIS     automobile          612   375054   22834.0        1426.60    246
          immobilier         9237  5400965  312625.0       92626.01  16440
TOULOUSE  automobile          442    93400    7803.0         718.80    183
          immobilier         2720   749900   67814.0       18567.38   5460

                      taux_interet  taux_endettement  cout_total  benefices  \
ville     type
BORDEAUX  immobilier        18.767            496.90   3441385.2    1681.32
LYON      automobile        10.083             23.68     33796.4      47.39
          immobilier        28.835            768.10   6165535.8    2967.41
MARSEILLE automobile         9.535             46.02     46145.4      61.36
          immobilier        83.003           2077.30   9063243.0    4334.55
NICE      automobile         6.104             16.23     24624.0      31.15
          immobilier        21.602            556.10   5534730.6    2651.60
PARIS     automobile        17.271             33.95     69591.2      99.50
          immobilier        82.802           2080.80  20744353.2    9916.85
TOULOUSE  automobile         9.868             30.63     44483.0      61.22
          immobilier        28.349            666.90   4212504.0    2076.85

                      risque
ville     type
BORDEAUX  immobilier       5
LYON      automobile       0
          immobilier      10
MARSEILLE automobile       0
          immobilier      19
NICE      automobile       0
          immobilier       4
PARIS     automobile       0
          immobilier      16
TOULOUSE  automobile       0
          immobilier       4

In [36]:
prets.groupby(['ville', 'type'])['remboursement'].sum()

ville      type
BORDEAUX   immobilier    15330.59
LYON       automobile      788.80
           immobilier    25275.87
MARSEILLE  automobile      839.60
           immobilier    40056.12
NICE       automobile      612.80
           immobilier    22931.44
PARIS      automobile     1426.60
           immobilier    92626.01
TOULOUSE   automobile      718.80
           immobilier    18567.38
Name: remboursement, dtype: float64

In [44]:
data = prets.pivot_table(index='ville', columns='type',
    values='remboursement', aggfunc='sum', fill_value=0)
data

type       automobile  immobilier
ville
BORDEAUX          0.0    15330.59
LYON            788.8    25275.87
MARSEILLE       839.6    40056.12
NICE            612.8    22931.44
PARIS          1426.6    92626.01
TOULOUSE        718.8    18567.38

In [37]:
prets.groupby('ville').agg({'remboursement': ['sum', 'mean'],
    'revenu': 'max'})

          remboursement               revenu
                    sum         mean     max
ville
BORDEAUX       15330.59   958.161875  3691.0
LYON           26064.67   930.881071  4771.0
MARSEILLE      40895.72   545.276267  2962.0
NICE           23544.24  1121.154286  5987.0
PARIS          94052.61  1221.462468  6807.0
TOULOUSE       19286.18   714.302963  3993.0

type       automobile  immobilier
ville
BORDEAUX          0.0    15330.59
LYON            788.8    25275.87
MARSEILLE       839.6    40056.12
NICE            612.8    22931.44
PARIS          1426.6    92626.01
TOULOUSE        718.8    18567.38