In [ ]:
import pandas as pd

In [ ]:
data_csv = pd.read_csv('clients.csv')
data_csv.head()

In [ ]:
data_json = pd.read_json('clients.json')
data_json.head()
data_json.shape

In [ ]:
data_excel = pd.read_excel('clients.xlsx')

#afficher la forme du DataFrame
data_excel.shape
#transformer le DataFrame en array numpy
data_excel.values
#afficher les 5 premières lignes
data_excel.head()

In [ ]:
#extraire la colonne email
email = data_excel["email"]
#afficher les 5 premières lignes de la colonne email
email.head()

In [ ]:
#extraire plusieurs colonnes
variables = ['email','nom']
#afficher les 5 premières lignes des colonnes extraites
data_excel[variables].head()

In [ ]:
#autre méthode pour extraire plusieurs colonnes
data_excel[['nom', 'email']].head()

In [ ]:
#extraire une seule colonne
data = data_excel['nom']
#afficher son types
type(data)

#type(data_excel['nom'])

### Créez et supprimez une colonne

In [ ]:
#modifier une colonne
data_excel['argent'] = 15000

In [ ]:
#modifier une colonne
data_excel['identifiant'] = data_excel['identifiant']*100
data_excel.head()

In [ ]:
#supprimer une colonne
#data_excel.drop(columns=['argent'])
#del data_excel['argent']
#data_excel.pop('argent')

### Renommez une colonne

In [ ]:
#renommer une colonne
data = data_excel.rename(columns={'nom' : 'Name'})
data.head()

In [ ]:
#renommer plusieurs colonnes
data = data_excel.rename(columns={'nom' : 'Name', 'email' : 'Email_Address'})
data.head()

### Changez le type d’une colonne

In [ ]:
data_excel['identifiant'].astype(float)

### Triez un data frame

In [ ]:
# trier selon l’identifiant, par ordre croissant :
data = data_excel.sort_values('identifiant')
data.head()

In [ ]:
#trier selon l’identifiant par ordre décroissant :
data = data_excel.sort_values('identifiant', ascending = False)
data.head()

In [ ]:
# trier selon le genre puis le nom, par ordre croissant :
data.sort_values(['genre', 'nom'])
data.head

In [ ]:
clients.sort_values(['genre', 'nom'], ascending=[True, False])