In [ ]:
import pandas as pd

In [ ]:
data_csv = pd.read_csv('clients.csv')
data_csv.head()

In [ ]:
data_json = pd.read_json('clients.json')
data_json.head()
data_json.shape

In [ ]:
data_excel = pd.read_excel('clients.xlsx')

#afficher la forme du DataFrame
data_excel.shape
#transformer le DataFrame en array numpy
data_excel.values
#afficher les 5 premières lignes
data_excel.head()

In [ ]:
#extraire la colonne email
email = data_excel["email"]
#afficher les 5 premières lignes de la colonne email
email.head()

In [ ]:
#extraire plusieurs colonnes
variables = ['email','nom']
#afficher les 5 premières lignes des colonnes extraites
data_excel[variables].head()

In [ ]:
#autre méthode pour extraire plusieurs colonnes
data_excel[['nom', 'email']].head()

In [ ]:
#extraire une seule colonne
data = data_excel['nom']
#afficher son types
type(data)

#type(data_excel['nom'])

In [ ]:
#modifier une colonne
data_excel['argent'] = 15000

In [ ]:
#modifier une colonne
data_excel['identifiant'] = data_excel['identifiant']*100
data_excel.head()

   identifiant                      email  nom genre  argent
0            0  LaurentDagenais@rhyta.com    1     M   15000
1        10000      GuyMarois@fleckens.hu    1     M   15000
2        20000  BeaufortLesage@einrot.com    1     M   15000
3        30000  RussellDurand@armyspy.com    1     M   15000
4        40000       AlexisRiel@rhyta.com    1     M   15000