### Filtrez les données du data frame

In [52]:
import pandas as pd

In [53]:
data = pd.read_csv('clients.csv')

In [54]:
data.head()

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M
2            2  BeaufortLesage@einrot.com   Beaufort Lesage     M
3            3  RussellDurand@armyspy.com    Russell Durand     M
4            4       AlexisRiel@rhyta.com       Alexis Riel     M

## Appliquez la sélection via des indices

### .iloc

In [55]:
data.iloc[0,2]

'Laurent Dagenais'

In [56]:
# sélectionner le nom des 10 premiers clients :
data.iloc[:10, 2]

0      Laurent Dagenais
1            Guy Marois
2       Beaufort Lesage
3        Russell Durand
4           Alexis Riel
5         Leon Lapresse
6      Orville Routhier
7        Agramant Pepin
8    Aiglentina Lambert
9       Theodore Clavet
Name: nom, dtype: object

In [57]:
# sélectionner le genre des 10 premiers clients :
data.iloc[:10, 3]

0    M
1    M
2    M
3    M
4    M
5    M
6    M
7    M
8    F
9    M
Name: genre, dtype: object

In [58]:
# sélectionner toutes les colonnes des 10 premiers clients :
data.iloc[:5, :]

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M
2            2  BeaufortLesage@einrot.com   Beaufort Lesage     M
3            3  RussellDurand@armyspy.com    Russell Durand     M
4            4       AlexisRiel@rhyta.com       Alexis Riel     M

In [59]:
# sélectionner l’email et le nom des 10 clients suivants :
data.iloc[10:20, 1:3]

                             email                 nom
10    ByronLefebvre@jourrapide.com      Byron Lefebvre
11          FlorusDevoe@einrot.com        Florus Devoe
12    NormandArsenault@armyspy.com   Normand Arsenault
13    AcelineHughes@jourrapide.com      Aceline Hughes
14    GastonBrisette@superrito.com     Gaston Brisette
15        AgateGrandbois@gustr.com     Agate Grandbois
16  AgricanFoucault@jourrapide.com    Agrican Foucault
17   PrunellaJosseaume@armyspy.com  Prunella Josseaume
18       YseultCharest@armyspy.com      Yseult Charest
19          DorotheeAupry@cuvox.de      Dorothee Aupry

In [60]:
# sélectionner l’e-mail et le genre des 10 derniers clients :
data.iloc[-10:, [1, 3]]

                               email genre
218           MinetteRoy@fleckens.hu     F
219         RoslynChalifour@cuvox.de     M
220          KarelBazinet@einrot.com     M
221      JosetteBordeleau@einrot.com     F
222         LangleyCaron@armyspy.com     M
223  ClaudeDandonneau@jourrapide.com     F
224    ApollineMichaud@superrito.com     F
225       PascalineBeaudry@rhyta.com     F
226     FleurCaouette@jourrapide.com     F
227      FrancisMasse@jourrapide.com     M

## Utilisez la sélection via des conditions

### .loc

In [61]:
data.sort_values('nom').head()

     identifiant                         email               nom genre
13            13  AcelineHughes@jourrapide.com    Aceline Hughes     F
135          135     AdelaideBrousse@gustr.com  Adelaide Brousse     F
189          189        AdeleClavette@cuvox.de    Adele Clavette     F
15            15      AgateGrandbois@gustr.com   Agate Grandbois     F
180          180          AgnesBriard@cuvox.de      Agnes Briard     F

In [73]:
display(data.loc[0:10, :])

    identifiant                          email                 nom genre
0             0      LaurentDagenais@rhyta.com    Laurent Dagenais     M
1             1          GuyMarois@fleckens.hu          Guy Marois     M
2             2      BeaufortLesage@einrot.com     Beaufort Lesage     M
3             3      RussellDurand@armyspy.com      Russell Durand     M
4             4           AlexisRiel@rhyta.com         Alexis Riel     M
5             5          LeonLapresse@cuvox.de       Leon Lapresse     M
6             6      OrvilleRouthier@gustr.com    Orville Routhier     M
7             7       AgramantPepin@dayrep.com      Agramant Pepin     M
8             8  AiglentinaLambert@fleckens.hu  Aiglentina Lambert     F
9             9     TheodoreClavet@teleworm.us     Theodore Clavet     M
10           10   ByronLefebvre@jourrapide.com      Byron Lefebvre     M

In [74]:
display(data.iloc[0:10, :])

   identifiant                          email                 nom genre
0            0      LaurentDagenais@rhyta.com    Laurent Dagenais     M
1            1          GuyMarois@fleckens.hu          Guy Marois     M
2            2      BeaufortLesage@einrot.com     Beaufort Lesage     M
3            3      RussellDurand@armyspy.com      Russell Durand     M
4            4           AlexisRiel@rhyta.com         Alexis Riel     M
5            5          LeonLapresse@cuvox.de       Leon Lapresse     M
6            6      OrvilleRouthier@gustr.com    Orville Routhier     M
7            7       AgramantPepin@dayrep.com      Agramant Pepin     M
8            8  AiglentinaLambert@fleckens.hu  Aiglentina Lambert     F
9            9     TheodoreClavet@teleworm.us     Theodore Clavet     M

In [81]:
# création d’un data frame trié pour ‘désordonner’ les Index
df_temp = data.sort_values('nom')
display(df_temp.head())

     identifiant                         email               nom genre
13            13  AcelineHughes@jourrapide.com    Aceline Hughes     F
135          135     AdelaideBrousse@gustr.com  Adelaide Brousse     F
189          189        AdeleClavette@cuvox.de    Adele Clavette     F
15            15      AgateGrandbois@gustr.com   Agate Grandbois     F
180          180          AgnesBriard@cuvox.de      Agnes Briard     F

In [79]:
# reset_index :
display(df_temp.reset_index().head())

   index  identifiant                         email               nom genre
0     13           13  AcelineHughes@jourrapide.com    Aceline Hughes     F
1    135          135     AdelaideBrousse@gustr.com  Adelaide Brousse     F
2    189          189        AdeleClavette@cuvox.de    Adele Clavette     F
3     15           15      AgateGrandbois@gustr.com   Agate Grandbois     F
4    180          180          AgnesBriard@cuvox.de      Agnes Briard     F

In [83]:
# reset_index sans garder les anciens Index :
display(df_temp.reset_index(drop=True).head())

   identifiant                         email               nom genre
0           13  AcelineHughes@jourrapide.com    Aceline Hughes     F
1          135     AdelaideBrousse@gustr.com  Adelaide Brousse     F
2          189        AdeleClavette@cuvox.de    Adele Clavette     F
3           15      AgateGrandbois@gustr.com   Agate Grandbois     F
4          180          AgnesBriard@cuvox.de      Agnes Briard     F

## Modifiez une sélection